@height: 956px;

div.slick-list {
    height: @height;
}

div.slick-track {
    height: @height;
    container.slick-slide#Dota {
        height: @height;
        background-image: url("../public/img/teams/dota.jpg");
        background-size:100%;
    }
    container.slick-slide#Hearthstone {
        height: @height;
        background-image: url("../public/img/teams/csgo.jpg");
        background-size:100%;
    }
} 