@height: 956px;

div.slick-list {
    min-height: 0;
    min-width: 0;
}

div.slick-track {
    min-height: 0;
    min-width: 0;
    div.team img {
        max-width: 100%;
    }
    container.slick-slide {
        position:relative;
        display:block;
        background-size:100%;
    }

    div.player {
        padding-top: 10px;
        color: white;
        display: block;
        width: 195px;
        height: 195px;
        margin: 0 auto;
        text-align: center;
        margin-top: 80%;
        background-color: #222;
        position: absolute;
        bottom: 2%;
        left: 0;
        a{
            
            position:absolute;
            width: 34px;
            height: 34px;
            background-size: 34px;
            display: block;
            &.twitter {
                background-image: url("../public/img/twitter.jpg");
                
            }
            &.twitch {

                background-image: url("../public/img/twitch.jpg");
            }
        }
        h3 {
            display: block;
            font-size: 1.17em;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: bold;
        }
        h5 {
            font-size: 16px;
            font-weight: 400;
            font-family: Hind;
            margin: 0;
            letter-spacing: 2px;
        }
        ul {
            display: block;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        ul li {
            display: inline-block;
            text-align: center;
            list-style-type: none;
            a {
                display: block;
                padding: 5px;
                background-color: #5b5b5b;
                border-radius: 30px;
                width: 20px;
                height: 20px;
                transition: all .3s ease-in;
            }
        }
    }
} 