div.slick-list {
  height: auto;
}
div.slick-track {
  height: auto;
}
div.slick-track div.team img {
  max-width: 100%;
}
div.slick-track container.slick-slide#Dota {
  position: relative;
  display: inline-block;
  height: auto;
  background-size: 100%;
}
div.slick-track container.slick-slide#Hearthstone {
  height: auto;
  background-size: 100%;
}
div.slick-track div.player {
  padding-top: 10px;
  width: 195px;
  height: 195px;
  margin: 0 auto;
  text-align: center;
  margin-top: 80%;
  background-color: #222;
  position: absolute;
  bottom: 2%;
  left: 0;
}
div.slick-track div.popup.hidden {
  display: none;
}
