nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
    div.container
        div.navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Escape Gaming
                i.fa.fa-bars Menu
            a.navbar-brand.page-scroll(href="#page-top") Escape Gaming
        div#bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li.hidden
                    a(href="#page-top")
                li
                    a.page-scroll(href="#teams") The Teams
                li    
                    a.page-scroll(href="#news") News
                li
                    a.page-scroll(href="#calander") Calander
                li
                    a.page-scroll(href="#shop") Swag
                li
                    a.page-scroll(href="#sponsors") Sponsors
         