teams#teams
    section.block
        div#teamcar.carousel.slide
            div.carousel-inner
                div.active.item
                    img(src="./public/images/teams/dota.jpg" alt="s1")
                div.item
                    img(src="./public/images/teams/team3.jpg" alt="s2")

            a.carousel-control.left(href="#teamcar" data-slide="prev")
            a.carousel-control.right(href="#teamcar" data-slide="next")



